@tailwind utilities;
@import '../../global/variables.scss';

/**
  * @prop --tdp-ckan-listing__header--color: The colour of the default listing header if slot not used
  * @prop --tdp-ckan-listing__item--color: The text colour of a listing item
  * @prop --tdp-ckan-listing__item--background-color: The background colour of a listing item
  * @prop --tdp-ckan-listing__item--hover--color: The hover-state colour of a listing item
  * @prop --tdp-ckan-listing__item--hover--background-color: The hover-state background colour of a listing item
  */
h2 {
  font-family: var(--tdp-font-primary);
  color: var(--tdp-ckan-listing__header--color, var(--tdp-primary));
}

li {
  font-family: var(--tdp-font-secondary);
  background-color: var(--tdp-ckan-listing__item--background-color, var(--tdp-white));
  color: var(--tdp-ckan-listing__item--color, var(--tdp-black));

  &:hover {
    background-color: var(--tdp-ckan-listing__item--hover--background-color, var(--tdp-light-grey));
    color: var(--tdp-ckan-listing__item--hover--color, var(--tdp-white));
  }
}
