:host {}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    cursor: pointer;
    user-select: none;
  }

  li:hover {
    background-color: var(--tdp-light-grey);
    color: var(--tdp-white);
  }
}
