@tailwind utilities;
@import '../../global/variables.scss';

/**
  * @prop --tdp-ckan-listing__header--color: The colour of the default listing header if slot not used
  * @prop --tdp-ckan-listing__item--color: The text colour of a listing item
  * @prop --tdp-ckan-listing__item--background-color: The background colour of a listing item
  * @prop --tdp-ckan-listing__item--hover--color: The hover-state colour of a listing item
  * @prop --tdp-ckan-listing__item--hover--background-color: The hover-state background colour of a listing item
  */
:host {
  --tdp-ckan-listing__header--color: var(--tdp-primary);
  --tdp-ckan-listing__item--background-color: var(--tdp-white);
  --tdp-ckan-listing__item--color: var(--tdp-black);
  --tdp-ckan-listing__item--hover--background-color: var(--tdp-light-grey);
  --tdp-ckan-listing__item--hover--color: var(--tdp-white);
}

h2 {
  color: var(--tdp-ckan-listing__header--color);
}

li {
  background-color: var(--tdp-ckan-listing__item--background-color);
  color: var(--tdp-ckan-listing__item--color, --tdp-black);
}

li:hover {
  background-color: var(--tdp-ckan-listing__item--hover--background-color);
  color: var(--tdp-ckan-listing__item--hover--color);
}
