@tailwind utilities;
@import '../../global/variables.scss';

/**
  * @prop --tdp-ckan-dataset__title--color: The colour of the default data header if slot not used
  * @prop --tdp-ckan-dataset__resources__header--color: The header colour of the 'Resources' section
  * @prop --tdp-ckan-dataset__resources__item--color: The color of a dataset resource item
  * @prop --tdp-ckan-dataset__resources__item--background-color: The background color of a dataset resource item
  * @prop --tdp-ckan-dataset__resources__item--hover--color: The hover-state color of a dataset resource item
  * @prop --tdp-ckan-dataset__resources__item--hover--background-color: The hover-state background-color of a dataset resource item
  * @prop --tdp-ckan-dataset__metadata--color: The text colour of a metadata item
  * @prop --tdp-ckan-dataset__metadata--background-color: The background color of a metadata item
  * @prop --tdp-ckan-dataset__metadata--hover--color: The hover-state color of a metadata item
  * @prop --tdp-ckan-dataset__metadata--hover--background-color: The hover-state background-color of a metadata item
  */
.title {
  h2 {
    font-family: var(--tdp-font-primary);
    color: var(--tdp-ckan-dataset__title--color, var(--tdp-primary));
  }
}

.resources {
  h2 {
    font-family: var(--tdp-font-primary);
    color: var(--tdp-ckan-dataset__resources__header--color, var(--tdp-secondary));
  }

  li {
    a {
      font-family: var(--tdp-font-secondary);
      box-decoration-break: clone;
      color: var(--tdp-ckan-dataset__resources__item--color, var(--tdp-primary));
      background-color: var(--tdp-ckan-dataset__resources__item--background-color, var(--tdp-white));

      &:hover {
        color: var(--tdp-ckan-dataset__resources__item--hover--color, var(--tdp-white));
        background-color: var(--tdp-ckan-dataset__resources__item--hover--background-color, var(--tdp-primary));
      }
    }
  }
}

.metadata {
  span {
    &.label {
      color: var(--tdp-black);
    }

    &.value {
      color: var(--tdp-grey);
    }
  }

  a {
    color: var(--tdp-ckan-dataset__metadata--color, var(--tdp-primary));
    background-color: var(--tdp-ckan-dataset__metadata--background-color, var(--tdp-white));

    &:hover {
      color: var(--tdp-ckan-dataset__metadata--hover--color, var(--tdp-white));
      background-color: var(--tdp-ckan-dataset__metadata--hover--background-color, var(--tdp-primary));
    }
  }
}
