@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-weight: normal;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

/* Nuke top margins on headers and paragraphs for sanity */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

/* Remove list styling */
ol,
ul {
  list-style: none;
}

/* Defaults images to be responsive */
img {
  max-width: 100%;
  height: auto;
}

/* Prevent hidden elements from being accidentally displayed */
[hidden] {
  display: none !important;
}

a {
  color: var(--primary);
}
