:root {
  --tdp-primary: rgb(25, 102, 184);
  --tdp-secondary: rgb(25, 192, 184);
  --tdp-black: #000000;
  --tdp-white: #ffffff;
  --tdp-negative: #CC292B;
  --tdp-positive: #00A950;
  --tdp-warning: #F7D417;
  --tdp-grey: #616365;
  --tdp-light-grey: #B8C1CB;
}
